- var circleCollor = "#faf6d4"
- var color01 = "#e7b900"
- var color02 = "#000000"

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

svg(version="1.1"  style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="52.549px" height="52.549px" viewBox="0 0 52.549 52.549" enable-background="new 0 0 52.549 52.549" xml:space="preserve")
	symbol#icon05(viewBox="0 0 52.549 52.549")
		path(fill="none" stroke="#{color02}" stroke-linejoin="round" stroke-miterlimit="10" d="M36.741,21.509c0,0,0.781,0,1.736,0 c0.955,0,1.736,0.9,1.736,2v2.612c0,1.1-0.834,2.339-1.853,2.752l-11.447,4.648c-1.019,0.414-1.853,1.652-1.853,2.752v7.972")
		path(fill="#{color01}" d="M33.464,18.621v5.777h-10.34h-0.068l-0.067,0.005c-0.191,0.013-0.515,0.055-0.871,0.187 c-0.348-0.118-0.715-0.178-1.076-0.19l-0.033-0.001h-0.033h-0.229h-0.066l-0.066,0.004c-0.511,0.034-1.057,0.149-1.549,0.418 c-0.682-0.324-1.394-0.407-1.856-0.421l-0.03-0.001h-0.03h-1.131v-5.777H33.464 M33.464,16.621H16.018c-1.105,0-2,0.895-2,2v5.777 c0,1.105,0.895,2,2,2h1.131c1.639,0.05,1.845,0.93,1.845,1.924c0,1.693-1.158,3.58,0.009,3.58c1.021,0,0.434-1.611,0.43-3.58 c-0.003-1.557,0.466-1.868,1.314-1.924h0.229c0.977,0.032,1.1,0.559,1.1,1.153c0,1.015-0.694,2.146,0.005,2.146 c0.612,0,0.26-0.966,0.258-2.146c-0.002-0.931,0.278-1.119,0.784-1.153h10.34c1.105,0,2-0.895,2-2v-5.777 C35.464,17.516,34.569,16.621,33.464,16.621L33.464,16.621z")
		circle.circleHover(fill="ffffff" stroke="#{circleCollor}" stroke-width="1.5" stroke-miterlimit="10" cx="26.116" cy="26.433" r="24.366")

	symbol#icon04(viewBox="0 0 52.549 52.549")
		circle(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="19.616" cy="20.433" r="3.5")
		circle(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="34.616" cy="27.433" r="3.5")
		circle(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="19.616" cy="34.433" r="3.5")
		line(fill="none" stroke="#{color02}" stroke-miterlimit="10" x1="24.703" y1="22.807" x2="29.529" y2="25.059")
		line(fill="none" stroke="#{color02}" stroke-miterlimit="10" x1="29.529" y1="29.807" x2="24.703" y2="32.059")
		circle.circleHover(fill="ffffff" stroke="#{circleCollor}" stroke-width="1.5" stroke-miterlimit="10" cx="26.116" cy="26.433" r="24.366")

	symbol#icon03(viewBox="0 0 52.549 52.549")
		path(fill="none" stroke="#{color02}" stroke-miterlimit="10" d="M30.188,18.836c0,0,0,7.58,4.072,10.424 c-3.054,1.779-8.143,5.253-8.143,11.869c0-6.616-5.09-10.09-8.143-11.869c4.072-2.844,4.072-10.424,4.072-10.424")
		line(fill="none" stroke="#{color02}" stroke-miterlimit="10" x1="26.116" y1="27.306" x2="26.116" y2="41.129")
		circle(fill="none" stroke="#{color02}" stroke-miterlimit="10" cx="26.116" cy="25.629" r="1.677")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-miterlimit="10" x1="20.741" y1="16.841" x2="31.491" y2="16.841")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-miterlimit="10" x1="20.741" y1="13.841" x2="31.491" y2="13.841")
		circle.circleHover(fill="ffffff" stroke="#{circleCollor}" stroke-width="1.5" stroke-miterlimit="10" cx="26.116" cy="26.433" r="24.366")

	symbol#icon02(viewBox="0 0 52.549 52.549")
		path(fill="none" stroke="#{color02}" stroke-linejoin="round" stroke-miterlimit="10" d="M31.433,27.618 c0,0,10.551-4.281,12.003-2.294c-11.086,6.804-12.768,7.798-12.768,7.798s-2.37,1.453-5.734,0s-8.073-3.135-8.073-3.135 l-1.054,2.064l-3.641,1.716l-3.37-6.612c0,0,5.224-2.406,8.065-3.437s5.354-1.529,8.357,0.688c0,0,4.765,2.749,4.125,3.874 c-0.361,0.634-0.968,0.663-1.733,0.459c-0.765-0.204-5.009-1.376-5.009-1.376")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-miterlimit="10" x1="11.311" y1="27.156" x2="13.663" y2="31.968")
		circle.circleHover(fill="ffffff" stroke="#{circleCollor}" stroke-width="1.5" stroke-miterlimit="10" cx="26.116" cy="26.433" r="24.366")

	symbol#icon01B(viewBox="0 0 52.549 52.549")
		rect(x="15.005" y="20.402" fill="none" stroke="#{color02}" stroke-linejoin="round" stroke-miterlimit="10" width="22.223" height="17.557")
		polygon(fill="none" stroke="#{color02}" stroke-linejoin="round" stroke-miterlimit="10" points="35.682,15.764 16.551,15.764 18.87,17.696 15.005,20.402 37.228,20.402 33.363,17.696")
		path(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M29.94,23.065v2.571 c0,2.095-1.699,3.794-3.794,3.794s-3.794-1.699-3.794-3.794v-2.571")
		line(fill="none" stroke="#{color02}" stroke-linejoin="round" stroke-miterlimit="10" x1="16.551" y1="15.764" x2="16.551" y2="19.32")
		line(fill="none" stroke="#{color02}" stroke-linejoin="round" stroke-miterlimit="10" x1="35.682" y1="15.764" x2="35.682" y2="19.32")
		circle.circleHover(fill="ffffff" stroke="#{circleCollor}" stroke-width="1.5" stroke-miterlimit="10" cx="26.116" cy="26.433" r="24.366")

	symbol#icon01A(viewBox="0 0 52.549 52.549")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="14.512" y1="27.701" x2="19.773" y2="22.441")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="14.512" y1="22.441" x2="19.773" y2="27.701")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="24.437" y1="42.206" x2="29.697" y2="36.946")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="24.437" y1="36.946" x2="29.697" y2="42.206")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="31.471" y1="29.693" x2="38.005" y2="26.136")
		line(fill="none" stroke="#{color01}" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="32.96" y1="24.647" x2="36.517" y2="31.181")
		path(fill="none" stroke="#{color02}" stroke-miterlimit="10" d="M14.227,34.655c0,0,15.459,0.406,13.92-16.401")
		circle(fill="none" stroke="#{color02}" stroke-miterlimit="10" cx="28.096" cy="13.05" r="2.099")
		polyline(fill="none" stroke="#{color02}" stroke-miterlimit="10" points="25.249,21.244 28.239,18.254 31.245,21.26")
		circle.circleHover(fill="ffffff" stroke="#{circleCollor}" stroke-width="1.5" stroke-miterlimit="10" cx="26.116" cy="26.433" r="24.366")

