.container-fluid.project.no-gutter
	.container
		section.row
			.col-xs-12
				h2.lead.text-center Our project
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr01.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr02.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr03.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr04.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr01.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr02.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr03.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr04.jpg")
			.col-xs-12.col-sm-6.col-md-4
				a(href='#' data-toggle="modal" data-target="#myModal")
					img.img-responsive.pull-left(src="#{pathToAssets}/images/pr01.jpg")